name: "Packaging Test"

on: [pull_request]
jobs:
  check_packaging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run Packaging Test
        run: |
          tox -e test_packaging
