name: "Unittests"

on: [push]
jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run the Unit Tests via Tox
        run: |
          TOXENV=tests-py${{ matrix.python-version }}
          TOXENV=${TOXENV//.}
          echo "Running the unit tests via Tox with the environment $TOXENV"
          tox -e $TOXENV
